Your team must identify an online platform that will allow the team to perform the following activities: code
review, issue tracking, and optionally CI/CD (continuous integration/continuous deployment or delivery).
The group presentation will involve a repository that will be used to demonstrate the activities mentioned.
On top of the repository used for the demonstration, the team must maintain another repository where a
history of the activities will be observable. As a guide for the details to be performed for the identified
activities, you may refer to the specific tasks under each activity. Note, however, that you can go beyond
the following tasks and that you have the freedom to demonstrate these activities with a given
workflow/choreography.